/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

$main-color: #3d63ac;
$primary-color: #428a2f;
$thirdly-color: #b09e3d;

$first-card: #e5efe2;
$second-card: #e4e9f3;
$third-card: #f4f1e4;

$white: #ffffff;
$black: #000000;
